@font-face {
  font-family: "robotoregular";
  src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("./fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* reset start */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button::-moz-focus-inner {
  border: 0;
}

/* reset stop */

.conteiner {
  font-family: "robotoregular";
  max-width: 1440px;
  margin: 0 auto;
}

/* block_1 start */
.block_1 {
  position: relative;
  background-image: url(./img/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
}
.bottom_img {
  position: absolute;
  bottom: 5.5%;
  z-index: 1;
}

.block_1_title h1 {
  padding: 215px 0 40px 31px;
  width: 683px;
  font-weight: 400;
  font-size: 97px;
  line-height: 116.4px;
  color: #3a173c;
}

.block_1_text {
  padding: 0 0 40px 31px;
  font-weight: 400;
  font-size: 22px;
  line-height: 30.8px;
  color: #3a173c;
}
.block_1_buttons {
  display: flex;
  margin-left: 31px;
}
.block_1-btn_1 button {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #e0dcdb;
  background-color: #3a173c;
  width: 260px;
  height: 68px;
  border-radius: 44px;
  outline: none;
  margin: 0 26px 0 0;
  border: none;
}
.block_1-btn_1 button:hover {
  border: 2px solid #3a173c;
  background-color: transparent;
  color: #3a173c;
}
/* block_1 stop */

/* block_2 start */
.block_2 {
  display: flex;
  position: relative;
}
.block_2_rounds_img {
  position: absolute;
  width: 330px;
  height: 330px;
  top: -6px;
  left: 20.91px;
}
.block_2-title {
  margin: 54px 290px 86px 290px;
  width: 860px;
  height: 192px;
  font-size: 58px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: #3a173c;
}

.block_2_leaf_img {
  position: absolute;
  width: 167px;
  height: 181px;
  top: -20px;
  left: 1218px;
}

/* block_2 stop */

/*! block_3 start */
/*! block_3 stop */

/* block_3 start */

.block_3 {
  padding: 0 31px 0 31px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 182px;
}

.block_3_items {
  position: relative;
  width: 422px;
}

/* .b3_leaf {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} */

.block_3_text {
  color: #3a173c;
  margin: 31px 0 0 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  z-index: 2;
}
.block_3_text-name {
  display: block;
  padding-top: 17px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.pad_2 {
  padding-top: 110px;
}
.pad_3 {
  padding-top: 140px;
}
/* block_3 stop */

/*! block_4 start */
.block_4_img-top {
  width: 1440px;
}
.block_4_center {
  margin-top: -2px;
  background: #3a173c;
}

.block_4_text h3 {
  color: #e0dcdb;
  margin: 0 auto;
  width: 849px;
  font-size: 58px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
}

.block_4_img-center {
  background-color: #3a173c;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

/*! block_4 stop */

/* block_5 start */
.block_5 {
  margin-top: 250px;
}
.block_5_title {
  color: #3a173c;
  margin: 0 auto;
  width: 873px;
  font-size: 100px;
  line-height: 110px;
  text-align: center;
  margin-bottom: 46px;
}
.block_5_text {
  color: #3a173c;
  margin: 0 auto;
  width: 836px;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.block_5_content {
  padding: 0 124.89px 0 31px;
}
.block_5_items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin-bottom: 20px;
}

.block_5_inf {
  width: 595.11px;
}

.block_5_text-2 {
  width: 530px;
  color: #3a173c;
  font-size: 18px;
  line-height: 27px;
}
.block_5_text-2-h3 {
  color: #3a173c;
  font-size: 58px;
  line-height: 64px;
  margin: 16px 0 37px 0;
}
.b5-h3_size {
  width: 475px;
}

.buttons_cotents {
  display: flex;
  justify-content: center;
  margin: 100px 0 190px 0;
}
.btn_cotents button {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #e0dcdb;
  background-color: #3a173c;
  width: 420px;
  height: 83px;
  border-radius: 44px;
  outline: none;
  margin-right: 46px;
  border: none;
}
.btn_cotents button:hover {
  border: 2px solid #3a173c;
  background-color: transparent;
  color: #3a173c;
}
.hh {
  margin: 0;
}
/* block_5 stop */

/* block_6 start */

.block_6_img-top {
  padding-top: 0;
}
.block_6_center {
  background: #3a173c;
}

.block_6_text h3 {
  color: #e0dcdb;
  margin: 0 auto;
  width: 890px;
  font-size: 58px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 51px;
}
.block_6_text_2 {
  color: #e0dcdb;
  margin: 0 auto;
  width: 865px;
  font-size: 18px;
  line-height: 29.25px;
}

.block_6_text_2-par {
  margin: 17px 0 15px 0;
}
.block_6_text_2-par2 {
  padding: 17px 0 52px 0;
}
.Block_6_btn {
  display: flex;
  justify-content: center;
  background: #3a173c;
}
.btn_cotents_b6 button {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #3a173c;
  background-color: #b9e2bf;
  width: 420px;
  height: 83px;
  border-radius: 44px;
  outline: none;
  margin-right: 46px;
  border: none;
}
.btn_cotents_b6 button:hover {
  border: 2px solid #b9e2bf;
  background-color: transparent;
  color: #e0dcdb;
}
/* block_6 stop */

/* block_7 start */

.block_7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 250px 0;
  padding: 0 124px 0 150px;
}
.block_leaf-1 {
  position: absolute;
  top: 346.2px;
  left: 56px;
}

.block_7_text {
  padding-left: 25px;
  width: 595px;
}

.block_7_title {
  color: #3a173c;
  width: 492px;
  font-size: 100px;
  line-height: 110px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 50px;
}

.block_7_parag {
  color: #3a173c;
  font-size: 18px;
  line-height: 29px;
}
.block_7_text_2-par {
  color: #3a173c;
  font-size: 18px;
  line-height: 29px;
  padding: 15px 0 38px 0;
}

.Block_7_btn {
  display: flex;
}
.btn_cotents_b7 button {
  font-size: 22px;
  line-height: 36px;
  text-align: center;

  color: #e0dcdb;
  background-color: #3a173c;
  width: 420px;
  height: 83px;
  border-radius: 44px;
  outline: none;
  border: none;
}
.btn_cotents_b7 button:hover {
  border: 2px solid #3a173c;
  background-color: transparent;
  color: #3a173c;
}

.block_leaf-2 {
  position: absolute;
  top: 70px;
  left: 1195px;
}

/* block_7 stop */
.block_8 {
  margin-top: 250px;
  width: 1410px;
  margin: 0 auto;
}

.block_8_text h3 {
  color: #e0dcdb;
  margin: 0 auto;
  width: 1004px;
  font-size: 58px;
  line-height: 64px;
  text-align: center;
}
